* {
  transition: all 0.2s ease-in-out;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  font-size: 16px;

  /* Typography */
  --h1: 1.75rem;
  --h1-lh: 34px;

  --h2: 0.875rem;
  --h2-lh: 17px;

  --h3: 1.5rem;
  --h3-lh: 29px;

  --body: 0.875rem;
  --body-lh: 17px;

  --body-s: 0.75rem;
  --body-s-lh: 15px;

  --strong: 3.5rem;
  --strong-lh: 48px;
  --strong-ls: -2px;

  --strong-s: 2rem;
  --strong-s-lh: 39px;

  --spaced: 0.75rem;
  --spaced-lh: 15px;
  --spaced-ls: 5px;

  /* Other */
}

body {
  /* Lightmode */
  --primary: #0079ff;
  --primary-hover: #60abff;

  --txt-high-contrast: #2b3442;
  --txt-mid-contrast: #4b6a9b;
  --txt-low-contrast: #697c9a;

  --theme-switch-btn-hover: #222731;

  /* Neutral */
  --error: #f74646;
}

body.dark-theme {
  /* Darkmode */
  --primary: #0079ff;
  --primary-hover: #60abff;

  --txt-high-contrast: #fff;
  --txt-mid-contrast: #ffff;
  --txt-low-contrast: #fff;

  /* Neutral */
  --error: #f74646;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

h1 {
  font-size: var(--h1);
  line-height: var(--h1-lh);
  font-weight: 700;
}

h2 {
  font-size: var(--h2);
  line-height: var(--h2-lh);
  font-weight: 700;
}

h3 {
  font-size: var(--h3);
  line-height: var(--h3-lh);
  font-weight: 700;
}

.body {
  font-size: var(--body);
  line-height: var(--body-lh);
  font-weight: 700;
}

.body-s {
  font-size: var(--body-s);
  line-height: var(--body-s-lh);
  font-weight: 700;
}

.strong {
  font-size: var(--strong);
  line-height: var(--strong-lh);
  letter-spacing: var(--strong-ls);
  font-weight: 700;
}

.strong-s {
  font-size: var(--strong-s);
  line-height: var(--strong-s-lh);
  font-weight: 700;
}

.spaced {
  font-size: var(--spaced);
  line-height: var(--spaced-lh);
  letter-spacing: var(--spaced-ls);
  font-weight: 400;
}

button {
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
}

input {
  border: none;
  background: none;
  outline: none;
}

button:focus,
input:focus,
a:focus {
  outline: dotted #697c9a 1.75px;
}

body.dark-theme button:focus,
body.dark-theme input:focus,
body.dark-theme a:focus {
  outline: dotted #90a4d4 1.75px;
}

@media (max-width: 500px) {
  :root {
    --h1: 1.5rem;
    --h1-lh: 29px;
  }
}
